* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Trebuchet MS", "Lucida Grande", "lucida sans unicode", sans-serif;
}

.wrapper {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 0.5em;
}
@media only screen and (min-width: 48em) {
  .wrapper {
    border: 0.1em solid #360;
    border-radius: 0.5em;
    background-color: #EBE0CC;
  }
  .wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.masthead {
  border-top: 0.5em solid #360;
  border-bottom: 0.5em solid #360;
  margin-top: 1em;
  padding: 0.5em 0;
}
@media only screen and (min-width: 48em) {
  .masthead {
    background: url(../images/IMG_0640_small.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0.5em;
  }
}
.masthead h1 {
  font-family: 'Bangers', cursive;
  font-size: 2.5em;
  text-align: center;
}
.masthead h2 {
  font-size: 1em;
  text-align: center;
}
.masthead a {
  text-decoration: none;
}
.masthead a:hover, .masthead a:focus {
  background-color: #360;
  color: #fff;
}

aside {
  border-bottom: 0.5em solid #360;
  padding: 0.5em 0;
}
@media only screen and (min-width: 48em) {
  aside {
    border-bottom: none;
    float: left;
    width: 40%;
    padding: 0.5em;
    box-sizing: border-box;
    margin: 1em 0;
  }
}
aside .alert {
  color: #F93;
}
aside form {
  padding: 0.5em 0;
}
aside form fieldset {
  border-radius: 0.5em;
}
aside form fieldset legend {
  font-weight: bold;
}
aside form fieldset .fields {
  padding: 0.5em;
}
aside form fieldset .fields .row {
  padding: 0.5em 0;
  clear: left;
  height: 2em;
}
@media only screen and (min-width: 30em) {
  aside form fieldset .fields .row {
    clear: none;
    max-width: 40%;
    float: left;
    margin-right: 1em;
  }
}
@media only screen and (min-width: 48em) {
  aside form fieldset .fields .row {
    clear: left;
    max-width: 100%;
    float: none;
    margin: 0;
  }
}
aside form fieldset .fields .row label {
  cursor: pointer;
  float: left;
  padding-right: 0.5em;
  line-height: 2em;
}
aside form fieldset .fields .row input[type=number] {
  font-size: inherit;
  color: #000;
  width: 8em;
  float: left;
  line-height: 2em;
  border-radius: 0.5em;
}
aside form fieldset .fields .row input[type=number]:focus {
  outline-color: #360;
  outline-width: 0.4em;
}
aside form fieldset .fields .row input[type=submit] {
  width: 8em;
  background: linear-gradient(to bottom, #336600 0%, #c2d1b2 100%);
  /* W3C */
  border-radius: 0.5em;
  color: black;
  font-size: inherit;
  line-height: 2em;
}
aside form fieldset .fields .row input[type=submit]:disabled {
  opacity: 0.5;
}
aside form fieldset .fields:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
aside h3, aside p {
  padding: 0.5em 0;
}
aside .thumbnail {
  padding: 0.5em 0;
}
aside .thumbnail img {
  max-width: 60%;
  max-height: 12em;
  box-shadow: 0.25em 0.25em 0.3em #999;
}

main {
  padding: 0.5em 0;
}
@media only screen and (min-width: 48em) {
  main {
    float: left;
    width: 60%;
    border-left: 0.5em solid #360;
    padding: 0.5em;
    box-sizing: border-box;
    margin: 1em 0;
  }
}
main .panel {
  border: 0.1em solid #FC0;
  border-radius: 0.5em;
  margin: 1em 0;
  box-shadow: 0.25em 0.25em 0.3em #999;
}
@media only screen and (min-width: 48em) {
  main .panel {
    box-sizing: border-box;
    float: left;
    max-width: 45%;
    margin: 0.5em;
  }
}
main .panel .panel-heading {
  background-color: #FC0;
  font-size: 1.1em;
  padding: 0.5em;
  text-align: center;
}
main .panel .panel-heading a {
  text-decoration: none;
  color: #000;
}
main .panel .panel-heading a:hover {
  color: #fff;
}
main .panel .panel-body {
  padding: 0.5em;
}
main .panel .panel-body img {
  width: 100%;
}
@media only screen and (min-width: 48em) {
  main .panel .panel-body img {
    max-width: 100%;
  }
}
main .panel-large dl {
  clear: both;
}
main .panel-large dt {
  float: left;
  clear: left;
  font-weight: bold;
  padding-right: 0.5em;
}
main .panel-large dd {
  float: left;
}
main .panel-large img {
  box-sizing: border-box;
  margin: 0.5em 0;
  max-width: 100%;
  box-shadow: 0.25em 0.25em 0.3em #999;
}

/*# sourceMappingURL=styles.css.map */
